.footer-top{
    background: #e1e1e1;
    color: #212529;
    padding: 40px 0;
}
.footer-about img.logo-footer {
    max-width: 100px;
    margin-top: 0;
    margin-bottom: 18px;
}
.footer-contact p a {
    color: #212529;
    
}
.footer-bottom {
    padding: 15px 0;
    background: #444;
    text-align: left;
    color: #aaa;
}
.footer-links  a{
    color: #212529; 
}